{{extend 'layout.html'}}

{{block head}}
  <script type="text/javascript" src="/scheduler/static/bower_components/angular-ui-calendar/src/calendar.js"></script>
  <script type="text/javascript" src="/scheduler/static/bower_components/fullcalendar/fullcalendar.js"></script>
  <script type="text/javascript" src="/scheduler/static/bower_components/fullcalendar/gcal.js"></script>
  <script type="text/javascript" src="/scheduler/static/bower_components/moment/moment.js"></script>
  <script type="text/javascript" src="/scheduler/static/bower_components/angular-ui.js"></script>
  <script type="text/javascript" src="/scheduler/static/js/app.js"></script>
  


  <link rel="stylesheet" href="/scheduler/static/bower_components/fullcalendar/fullcalendar.css"/>
{{end}}

{{block center}}
  <div ng-app="scheduler" ng-controller="schedulerCtrl" ng-cloak>
   
    <ul ng-repeat="event in events">
      <li>{[{event.start | date:'medium'}]}-{[{event.end | date:'medium'}]}</li>
    </ul>

    <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
    <h2>Classes</h2>
    {{=form1}}

    <h2>Class-Timeslots</h2>
    {{=form4}}

    <h2>Teachers</h2>
    {{=form2}}

    <h2>Timeslots</h2>
    {{=form3}}
  </div>
{{end}}