{{extend 'layout.html'}}

{{block head}}
<script>
  var schedules = {{=XML(schedList)}};
</script>

  <script type="text/javascript" src="/scheduler/static/bower_components/angular-ui-calendar/src/calendar.js"></script>
  <script type="text/javascript" src="/scheduler/static/bower_components/fullcalendar/fullcalendar.js"></script>
  <script type="text/javascript" src="/scheduler/static/bower_components/fullcalendar/gcal.js"></script>
  <script type="text/javascript" src="/scheduler/static/bower_components/moment/moment.js"></script>
  <script type="text/javascript" src="/scheduler/static/bower_components/angular-ui.js"></script>
  <script type="text/javascript" src="/scheduler/static/js/scheduler.js"></script>



  <link rel="stylesheet" href="/scheduler/static/bower_components/fullcalendar/fullcalendar.css"/>
{{end}}

{{block center}}
<div ng-app="scheduler" ng-controller="schedulerCtrl">
  <div>
    Network:
    <select id="networkselect" ng-model="netId" ng-change="getTerms();">
        <option></option>
      {{for n in networks:}}
        <option ng-value="{{=n.id}}">{{=n.title}}</option>
      {{pass}}
    </select><br>
    Term:
    <select id="termselect" ng-change="getKlasses();" ng-model="termId">
      <option></option>
      <option ng-repeat="term in terms" ng-value="term.term_id">{[{term.title}]}</option>
    </select><br>
    Class:
    <input id="searchbox" type="text"></input>
    <button id="searchbtn" class="btn btn-success" ng-click="addClassToSched();">Add Event</button>
  </div>

  <div>
    <input id="scheduletitle" placeholder="schedule title" style="width:200px;" type="text"></input>
    <input id="defcheck" type="checkbox">Make default?<br>
    <button class="btn btn-primary" ng-click="newSched();">New Schedule</button><br><br><br>
  </div>

  <div id="ourCal" ng-show="schedules.length>0" ng-cloak> 
    <h2>My Schedules</h2>
    Select Schedule:
    <select id="schedselect" ng-change="loadSched();" ng-model="scheduleSelect" ng-init="scheduleSelect=-1">
      <option value="-1">Default</option>
      <option ng-value="schedule.id" ng-repeat="schedule in schedules">{[{schedule.title}]}</option>
    </select><br>
    <div id="ourcal" style="margin-top:-20px;" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
  </div>
</div>
{{end}}