{{extend 'layout.html'}}

{{block head}}
<script type="text/javascript" src="/scheduler/static/js/network.js"></script>

<script>
    var networks = {{=XML(networks)}};
</script>
{{end}}



{{block center}}
<div ng-app="network" ng-controller="networkCtrl" ng-init="loadSection('network');" >
	<div id="network" ng-show="checkSection('network');">
		<h3>Network</h3>
	      <input type="text"></input>
	      <button class="btn btn-success" ng-click="createNetwork();">Create Network</button>
	      <ul>
	      	<li ng-repeat="network in networks" ng-click="viewNetwork(network.id);">{[{network.title}]}</li>
	  	  </ul>
	</div>

	<div id="term" ng-show="checkSection('term');">
		<h4><a ng-click="loadSection('network')">Network</a></h4>
		<h3>Term</h3>
	      <input type="text"></input>
	      <button class="btn btn-success" ng-click="createTerm();">Create Term</button>
	      <ul>
	      	<li ng-repeat="term in terms">{[{term.title}]}</li>
	  	  </ul>
	</div>

	<div id="class" ng-show="checkSection('class');">
		<h4><a ng-click="loadSection('network')">Network</a> >> <a ng-click="loadSection('term')">Term</a></h4>
		<h3> Classes in Spring 2015</h3>
		<ul>
			<li><a>Computer Science 69</a></li>
			<li><a>Art History LOL</a></li>
			<li><a>Computer Science 183</a></li>
		</ul>
	  	<button class="btn btn-primary" ng-click="loadSection('createclass');">Add a New Class</button>
	</div>

	<div id="timeslot" ng-show="checkSection('timeslot');">
		<h3>Timeslot</h3>
	      <input placeholder="start" type="text"></input><br>
	      <input placeholder="end" type="text"></input><br>
	      
	      <select>
	      	<option>Monday</option>
	      	<option>Tuesday</option>
	      	<option>Wednesday</option>
	      	<option>Thursday</option>
	      	<option>Friday</option>
	      </select><br>
	      
	      <button class="btn btn-success" ng-click="loadSection('createclass')">Add Timeslot</button>
	</div>
	<div id="createClass" ng-show="checkSection('createclass');">
		  <h3>Create Class</h3>
	      <input placeholder="Title:" type="text"></input><br>
	      <input placeholder="Teacher:" type="text"></input><br>
	      Timeslots:
	      <ul>
	      	<li> timeslot 1 </li>
	      	<li> timeslot 2 </li>
	      	<li> timeslot 3 </li>
	  	  </ul>
	  	  <button class="btn btn-primary" ng-click="loadSection('timeslot')">Add Timeslot</button>
	  	  <button class="btn btn-success" ng-click="loadSection('class')">Create Class</button> <br>
	</div>
</div>
{{end}}