{{extend 'layout.html'}}

{{block head}}
<script type="text/javascript" src="/scheduler/static/js/network.js"></script>
<link rel="stylesheet" type="text/css" href="/scheduler/static/css/jquery.timeentry.css"> 
<script type="text/javascript" src="/scheduler/static/js/jquery.plugin.js"></script> 
<script type="text/javascript" src="/scheduler/static/js/jquery.timeentry.js"></script>
<script>
	$(function () {
		$('.is-timeEntry').timeEntry({ampmPrefix: ' ', spinnerImage: ''});
	});
</script>
<script>
    var networks = {{=XML(networks)}};
</script>
{{end}}



{{block center}}
<div ng-app="network" ng-controller="networkCtrl" ng-init="loadSection('network');" >
	<div id="network" ng-show="checkSection('network');">
		<h3>Network</h3>
	      <input type="text"></input>
	      <button class="btn btn-success" ng-click="createNetwork();">Create Network</button>
	      <ul>
	      	<li ng-repeat="network in networks" ng-click="viewNetwork(network.network_id);">{[{network.title}]}</li>
	  	  </ul>
	</div>

	<div id="term" ng-show="checkSection('term');">
		<h4><a ng-click="loadSection('network')">Network</a></h4>
		<h3>Term</h3>
	      <input type="text"></input>
	      <button class="btn btn-success" ng-click="createTerm();">Create Term</button>
	      <ul>
	      	<li ng-repeat="term in terms" ng-click="viewTerm(term.term_id);">{[{term.title}]}</li>
	  	  </ul>
	</div>

	<div id="class" ng-show="checkSection('class');">
		<h4><a ng-click="loadSection('network')">Network</a> >> <a ng-click="loadSection('term')">Term</a></h4>
		<h3> Classes in Spring 2015</h3>
		<ul>
			<li ng-repeat="klass in klasses" ng-click="viewKlass(klass.klass_id);">{[{klass.title}]}</li>
		</ul>
	  	<button class="btn btn-primary" ng-click="loadSection('createclass');">Add a New Class</button>
	</div>

	<div id="timeslot" ng-show="checkSection('timeslot');">

		<h4>
			<a ng-click="loadSection('network')">Network</a> >> <a ng-click="loadSection('term')">Term</a>
		  	>> <a ng-click="loadSection('class')">Classes</a>
		</h4>
		<h3>Timeslots for </h3>
	    <input id="start" class="is-timeEntry" placeholder="start" type="text"></input><br>
	    <input id="end"class="is-timeEntry" placeholder="end" type="text"></input><br>

	    <select id="meet_day">
	    	<option value="1">Monday</option>
	      	<option value="2">Tuesday</option>
	      	<option value="3">Wednesday</option>
	      	<option value="4">Thursday</option>
	      	<option value="5">Friday</option>
	    </select><br>
	    <button class="btn btn-success" ng-click="createTimeslot();">Add Timeslot</button><br>
		<ul>
			<li ng-repeat="timeslot in timeslots">{[{numToDay(timeslot.meet_day)}]}:
				{[{timeslot.start_time}]} - {[{timeslot.end_time}]} 
				<a ng-click="deleteTimeslot(timeslot.timeslot_id);">delete</a>
			</li>
		</ul>       
	</div>

	<div id="createClass" ng-show="checkSection('createclass');">
		<h4>
			<a ng-click="loadSection('network')">Network</a> >> <a ng-click="loadSection('term')">Term</a>
			>> <a ng-click="loadSection('class')">Classes</a>
		</h4>
		<h3>Create Class</h3>
		<input id="klasstitle" placeholder="Title:" type="text"></input><br>
		<input id="teachername" placeholder="Teacher:" type="text"></input><br>
		<button class="btn btn-success" ng-click="createKlass();">Create Class</button><br>
		<button class="btn btn-primary" ng-click="loadSection('timeslot')">Add Timeslot</button><br> 
	</div>
</div>
{{end}}